<h1>require.beez.js.hbs</h1>
<h2>config</h2>
<pre>
  {{config}}
</pre>
<hr>

<h2>entrypoint</h2>
<pre>
{{entrypoint}}
</pre>
<hr>

<h2>name</h2>
<pre>
{{name}}
</pre>
<hr>

<h2>key</h2>
<pre>
{{key}}
